.table-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
  }
  
  .table-header,
  .user-row,
  .expense-row,
  .cat-row {
    display: flex;
    padding: 0px;
    width: 100%;
  }
  
  .table-header {
    background-color: #731c1c;
    font-weight: bold;
    
  }
  
  .cell{
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
  }

  .header-cell {
    flex: 1;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
  }
  